#sidebar_container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color-dark);
    width: 170px;
    height: 100vh;
    color: #8f8f8f;
    z-index: 100;
  } 
  .navigations_container {
    height: 95px;
    margin-left: auto; 
    margin-right: auto;
    background-color: var(--main-color-light);
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }
  .responsive_col {
    margin-top: 20px;
  }
  .nav_text {
    font-size: 14px;
    line-height: 15px;
  }
  #logo {
    width: 35px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @media (max-width: 767px) {
    #sidebar_container {
      position: fixed;
      top: unset;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60px;
    }
    #logo {
      display: none;
    }
    .responsive_col {
      width: 20% !important;
      flex: unset !important;
      margin-top: 0px;
    }
    .navigations_container {
      width: 100%;
      height: 80px;
      margin-left: auto;
      margin-right: auto;
      background-color: transparent;
      margin-top: 0px;
      padding: 10px;
      cursor: pointer;
      text-align: center;
    }
    .nav_text {
      display: none;
    }
  }
  