#header_container {
  background-color: var(--white);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #6f6f6f;
  -webkit-box-shadow: 0px 0px 65px 0px rgba(194, 194, 194, 0.87);
  -moz-box-shadow: 0px 0px 65px 0px rgba(194, 194, 194, 0.87);
  box-shadow: 0px 0px 65px 0px rgba(194, 194, 194, 0.87);
}
.icons_container{
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
.logo_container{
  background-color: var(--main-color-dark);
  height: 60px;
  width: 170px;
}
.collapse_item{
  display: flex;
  flex-direction: column;
}
#logo {
  width: 135px;
  position: relative;
  left: 20px;
  top: 15px;
}
#mini_logo {
  width: 40px;
  position: absolute;
  top: 15px;
  left: 30px;
}

.collapse_container{
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  #logo {
    display: initial;
  }
  .logo_container{
    width: 75px;
  }
}
