.stepper_container{
    width: '100%',
}
.icon_container{
    background-color: #ccc;
    z-index: 1;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.active_icon{
    background: var(--orange);
    box-shadow: '0 4px 10px 0 rgba(0,0,0,.25)';
}
.completed_icon{
    background: var(--main-color-dark);
    box-shadow: '0 4px 10px 0 rgba(0,0,0,.25)';
}
