.stepper_container{
    width: 100%;
}
.actionsContainer{
    margin-top: 10px;
}

.stepper_button{
    padding: 10px !important;
}

.table_button_container{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

.row_input_container{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.input_container{
    margin: 10px;
}