:root {
    --main-color-dark: #0099CB;
    --main-color-light: #10BDDC;
    --black: #303030;
    --white: #f7f7f7;
    --gray: #868686;
  }

  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

  .center {
    text-align: center;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }

  #dashboard_container {
    margin-left: auto;
  }
  #component_container {
    color: #6f6f6f;
    margin-top: 70px;
    margin-right: auto;
  }
  /* Inputs form login y reset pass */
  #form_login .MuiFormControl-root,
  #form_reset .MuiFormControl-root {
    width: 100% !important;
    margin-top: 20px;
  }
  #form_login .MuiFormLabel-root,
  #form_reset .MuiFormLabel-root {
    font-family: "Raleway" !important;
  }
  #form_login .MuiInputBase-root,
  #form_reset .MuiInputBase-root {
    font-family: "Raleway" !important;
  }
  #form_login .MuiOutlinedInput-root.Mui-focused.Mui-focused fieldset,
  #form_reset .MuiOutlinedInput-root.Mui-focused.Mui-focused fieldset {
    border-color: #000000;
  }
  #form_login .MuiFormLabel-root.Mui-focused,
  #form_reset .MuiFormLabel-root.Mui-focused {
    color: #000000 !important;
  }
  #form_login .Mui-error:after,
  #form_reset .Mui-error:after {
    border: 2px solid rgb(182, 60, 47) !important;
  }
  #form_login .MuiOutlinedInput-root.Mui-error.Mui-error fieldset,
  #form_reset .MuiOutlinedInput-root.Mui-error.Mui-error fieldset {
    border-color: rgb(182, 60, 47);
  }
  #form_login .MuiFormLabel-root.Mui-error,
  #form_reset .MuiFormLabel-root.Mui-error {
    color: rgb(182, 60, 47) !important;
  }
  #form_login .helper-text,
  #form_reset .helper-text {
    font-family: "Raleway" !important;
    color: rgb(182, 60, 47);
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px !important;
  }
  /* Circular progress */
  .MuiCircularProgress-colorPrimary {
    color: #ffffff !important;
  }
  .MuiCircularProgress-colorSecondary {
    color: #000000 !important;
  }
  /* DATE PICKERS */
  .MuiButtonBase-root:focus {
    outline: none;
  }
  .MuiOutlinedInput-inputAdornedEnd {
    color: grey !important;
  }
  .MuiPickersToolbar-toolbar {
    background-color: var(--main-color-dark) !important;
  }
  .MuiPickersDay-daySelected {
    background-color: black !important;
  }
  .MuiPickersDay-current:default {
    color: white !important;
  }
  
  .MuiPickersDay-current:not(:focus) {
    color: var(--main-color-dark) !important;
  }
  .MuiButton-label {
    color: black;
  }
  
  button:focus{
    outline: none;
  }

  .ontrack_btn_add{
    padding: 20px;
    background-color: var(--main-color-dark);
    border-radius: 10px;
    color: white;
    transition: all .2s;
    border: none;
  }
  .ontrack_btn_cancel{
    padding: 20px;
    background-color: var(--gray);
    border-radius: 10px;
    color: white;
    transition: all .2s;
    border: none;
  }
  .ontrack_btn_add:active, .ontrack_btn_cancel:active{
    transform: scale(0.97);
  }
  @media (max-width: 959px) {
    /* Modales responsive */
    .responsive_dashboard_modal {
      top: 75px !important;
    }
    .responsive_dashboard_modal .MuiBackdrop-root {
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
    .responsive_dashboard_modal .MuiDialog-paperFullScreen {
      border-radius: 30px 30px 0 0 !important;
    }
    .MuiDialogActions-root {
      display: block !important;
      text-align: center !important;
    }
  }
  @media (max-width: 767px) {
    #component_container {
      margin-top: 70px;
    }
  }
  @media (max-width: 559px) {
    .default_text {
      font-size: 13px;
    }
  }

/* INPUTS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.MuiDialogTitle-root {
  background-color: var(--main-color-dark);
  color: var(--white);
}

.MuiInput-underline:after {
  border-bottom: 2px solid var(--main-color-light) !important;
}

.MuiFormLabel-root.Mui-focused {
  color: var(--black) !important;
}

.MUIDataTableToolbar-left-15 {
  text-align: left;
}